# Don't change these
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001

# Database connection info. Important: PUT YOUR VARIABLES
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
DATABASE_URL=postgresql://user:password@localhost:port/db?schema=public

# To generate 42 oath credentils go to https://profile.intra.42.fr/oauth/applications/new
FORTY_TWO_CLIENT_ID=your_42_client_id
FORTY_TWO_CLIENT_SECRET=your_42_client_secret
FORTY_TWO_CALLBACK_URL=http://localhost:3001/auth/42/callback